
.selector-for-some-widget {
  box-sizing: content-box;
}
.container-fluid {
	padding: 30px;
}
.jumbotron, .container-fluid {
	text-align: center;
}
.fa {
	display: inline-block;
}
h1 {
	font-size: 60px;
}
h2{
	font-size: 28px;
	font-weight: bold;
}
h3 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}
h4 {
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}
h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.questions {
	padding-bottom: 5px;
}
.submit-data {
	margin-top: 20px;
	width: 200px;
}










/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }